.mainClass {
  background-color: #1a1818;
  height: 100vh;
}

.stripeContainer {
  height: 100vh;
  display: flex;
  justify-content: center;
}

/* .firstComp {
  display: flex;
  justify-content: center;
  width: 40%;
  min-width: 40%;
  padding: 30px;
  margin: auto;
} */

.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: auto;
  justify-content: center;
  margin: auto;
}

.name {
  display: flex;
  width: 100%;
}

input {
  display: block;
  padding: 8px 10px;
  margin: 10px;
  width: 100%;
  font-family: fantasy;
  font-size: 18px;
  border: none;
  background-color: white;
}

input:active {
  border: none;
}

input:focus {
  border: none;
}

input:focus-visible {
  border: none;
  outline: none;
}

textarea {
  font-family: fantasy;
  font-size: 18px;
  background-color: white;
  padding: 8px 10px;
  margin: 10px;
  width: 100%;
  border: none;
}

textarea:focus-visible {
  border: none;
  outline: none;
}

.buttoncontainer {
  display: flex;
  justify-content: end;
}

.buttons {
  cursor: pointer;
  transition: 2s ease-in;
  color: white;
  border: none;
  display: flex;
  padding: 10px;
  font-size: 18px;
  margin: 10px;
  text-align: end;
  justify-content: end;
  border: 2px solid #fff;
  background-color: rgb(0, 0, 0);
  transition: box-shadow 1s ease-in-out;
  font-family: fantasy, cursive;
  font-size: 18px;
}

.buttons:hover {
  border: 2px solid #fff;
  box-shadow: inset 400px 0 0 0 #04ffa7a8;
  color: white;
}

.secondSpace {
  width: 60vw;
  margin: 0px;
  padding: 0px;
}

.h1 {
  color: white;
  font-size: 82px;
  /* margin-left: 50px; */
}

.p {
  color: white;
  line-height: 1;
  margin-left: 10%;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.achorTag {
  display: flex;
  word-spacing: 2px;
  cursor: pointer;
  padding: 10px;
  color: white;
  text-decoration: none;
  margin-top: 10px;
}

.achorTag:hover {
  color: burlywood;
  padding: 10px;
  width: fit-content;
}

.actualIcon {
  display: flex;
  width: 10vh;
  height: 10vh;
  border: 2px solid #aaa;
  border-radius: 50vh;
  padding: auto;
}

.icon {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0px 10px 0px 0px;
}

.unorderedList {
  list-style-type: none;
  display: flex;
  justify-content: center;
  width: auto;
}

.h3 {
  color: white;
  margin-left: 10%;
}

.nextStep {
  display: flex;
  height: 100vh;
  min-width: 40vw;
  justify-content: center;
  align-items: center;
  margin: auto;
  background-color: cornflowerblue;
}

@media screen and (max-width: 1200px) {
  .stripeContainer {
    height: 100vh;
    display: block;
    justify-content: center;
  }
}
